.header {
    padding: 2rem 0;
    &-container {
        @include container;
        position: relative;
    }
}

.logo {
    min-width: 80px;
    display: flex;
    position: relative;
    &__red {
        @include logo-circle($red);
    }
    &__blue {
        @include logo-circle($blue);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__link {
        text-decoration: none;
        text-transform: capitalize;
        color: $body;
        font-weight: 600;
        font-size: 1rem;
        margin-right: 2rem;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: $blue;
        }
        &:last-child {
            margin-right: 0;
            background: $blue;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: darken($red, 10%);
                cursor: pointer;
            }
            color: white;
            padding: 0.7rem 1.2rem;
            border-radius: 100px;
            font-size: 1rem;
        }
    }
}

.blob {
    width: 400px;
    height: 600px;
    background: $blob;
    border-radius: 80px;
    position: absolute;
    top: -300px;
    left: -150px;
    transform: rotate(-20deg);
    z-index: -1;
}

.hero {
    img {
        width: 100px;
    }
    display: flex;
    align-items: center;
    @include container;
    padding: 5.5rem 2rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    &__subhead {
        font-size: 0.9rem;
        font-weight: bolder;
        color: $blue;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__star {
        font-size: 2rem;
        padding-top: 10px;
        margin-right: 5px;
    }
    &__heading {
        font-size: 4rem;
        line-height: 1.1;
        letter-spacing: -2px;
        margin-bottom: 2.5rem;
    }
    &__icon {
        font-size: 3rem;
    }
    &__desc {
        font-size: 1.4rem;
        margin-bottom: 2.5rem;
        color: $body;
    }
}

.hero-form {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    column-gap: 1rem;
    &__input {
        flex-basis: 60%;
        font-size: 1.3rem;
        padding: 1rem;
        border-radius: 15px 0 0 15px;
        clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
        background: #f7f7f7;
        outline: none;
        border: none;
        margin-right: -77px;
    }
    &__btn {
        flex-basis: 25%;
        background: $blue;
        color: white;
        padding: 0.9rem 1rem;
        border-radius: 0 15px 15px 0;
        border: none;
        transition: all 0.2s ease-in-out;
        clip-path: polygon(42% 0, 100% 0, 100% 100%, 0 100%);
        &:hover {
            background: darken($red, 10%);
            cursor: pointer;
        }
    }
    &__icon {
        transform: rotate(45deg);
        margin-right: -20px;
        font-size: 1.5rem;
    }
}

.hero-imgs {
    flex-basis: 45%;
    display: flex;
    column-gap: 1rem;
    &__img {
        height: 450px;
        width: 30%;
        object-fit: cover;
        border-radius: 20px;
        &:nth-child(1) {
            object-position: 20% 50%;
        }
        &:nth-child(2) {
            object-position: 45% 50%;
            margin-top: 80px;
        }
        &:nth-child(3) {
            object-position: 97% 80%;
        }
    }
}

.partners {
    display: flexbox;
    align-items: center;
    @include container;
    padding: 5.5rem 2rem;
}

.partners-hr {
    align-items: center;
    max-width: 24%;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 35px;
}

.partners-text {
    display: flex;
    align-items: center;
    &__msg {
        display: flex;
    }
}

.partners-logo {
    display: flex;
    padding: 52px;
    &__img {
        align-items: center;
        height: 100px;
        width: 10px;
        flex-basis: 60%;
        display: flex;
        column-gap: 100rem;
        justify-content: center;
        color: gray;
    }
}