@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@400;500;600&family=Poppins&family=Roboto:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
$blue: #060ce8;
$red: #f71275;
$white: #ffff;
$body: #757575;
$blob: #f2f6ff;
$backgray: #cecece;
$backgraylight: #f0eeee;